.today-item{
    list-style-type: none;
    width: 375px;
    /* padding: 15px 15px 0px 15px; */
    /* margin-left: 15px;
    margin-bottom: 15px; */
}

.today-item__checkbox {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.today-item__custom-checkbox {
    margin-left: -1.2em;
    position: absolute;
    width: 28px;
    height: 28px;
    background-image: url(../assets/Unmarked.svg);
}

.today-item__checkbox:checked + .today-item__custom-checkbox {
    background-image: url(../assets/Marked.svg);
}

.today-item__container {
    padding-left: 2.5em;
    /* padding-top: 15px; */
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.today-item__text{
    margin-left: 25px;
    text-align: start;
    border-bottom: 1px solid lightgray;
    width: 100%;
    word-wrap: break-word;
    max-width: 300px;
    /* margin-left: 18px; */
    padding-bottom: 18px;
    padding-top: 15px;
}

.today-item__text:first-letter {
    text-transform: capitalize;
}

.checked {
    color: gray;
}