.new-task {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 375px;
    min-height: 759px;
    margin:auto;
    margin-top: 100px;
    background-color: white;
    box-shadow: 0px 24px 32px rgba(21, 35, 56, 0.16);
    border-radius: 5px;
}

.btn {
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: -0.434118px;
    color: #006CFF;
    background: transparent;
    border: none;
    cursor: pointer;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.new-task-input {
    padding: 15px;
    height: 640px;
    outline: none;
    border: none;
    resize: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}